$color-black1:#222;

$color-gray1:#888;
$color-gray2:#302e2e;
$color-gray3:#f7f7f7;
$color-gray4:#f5f5f5;
$color-gray5:#eaeaea;
$color-gray6:#666;
$color-gray7:#575b5e;
$color-gray8:#333;
$color-gray9:#efefef;
$color-gray10:#e5f5f7;
$color-gray11:#f0f0f0;

$color-red1:#e34444;

$color-yel1:#f1d201;

$default-font-size:1.6rem;
//Grid
$grid-width:117rem;
$gutter-vertical:4rem;
$gutter-vertical-small:2rem;
$gutter-horizontal:4rem;